{{datum}} 
<img  style="float:right;width:175px;height:60px" src="http://www.oervoer.com/skin/frontend/ultimo/oervoer/images/logo7.png" alt="OerVoer">
<img height="70" width="70" style="float:left" alt="kat" src="http://www.oervoer.com/media/wysiwyg/oervoer/kat-icoon.png">
<p>
Beste <strong>{{order.owner}}</strong>,
</p><p>
Hierbij ontvang je je <strong>{{order.package}}</strong> OerVoer pakket.
<strong>{{pet.name}}</strong> weegt <strong>{{pet.weight}}</strong> kg en heeft gemiddeld <strong>{{maaltijd}}</strong>
    gram verse voeding per dag nodig verdeeld over {{pet.profile.NRMEALS}} maaltijden.
</p><p>
In je OerVoer gemalen Plus pakket vind je verschillende smaken enkelvoudige malingen en hele stukjes vis.
Je kunt bij de verdeling van de producten uitgaan van één visdag per week.
</p><p>
Dit <strong>{{order.package}}</strong> OerVoer pakket bevat: 

