{% extends 'wizard.html' %}
{% load render_table from django_tables2 %}

{% block headline %}
<h2>{{title}} </h2>
<a href="{% url 'brief' delivery_id %}" class="btn btn-default navbar-btn">Brief</a>

{% endblock %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block content %}
<form action="{% url 'picklist' order_id=order_id %}" method="POST">
	{% csrf_token %}

    datum:	<strong>{{datum}}</strong>
    dier: 	<strong>{{dier}}</strong><br> 
    pakket: <strong>{{pakket}}</strong>
    gewicht: <strong>{{gewicht_dier}} kg</strong><br>
    gewicht pakket: <strong>{{gewicht_pakket}} kg</strong>

    vermijd: <strong>{{vermijd}}</strong><br>
    maaltijd: <strong>{{maaltijd}} gram</strong>
    eigenaar: <strong>{{eigenaar}}</strong>
    diernaam: <strong>{{diernaam}}</strong>
    status:<strong>{% if delivery_pre %}PRE{% else %}KLAAR{% endif %}</strong><hr>
{% render_table table %}<br>
    Totaal gram: <strong>{{totaal}}</strong>
    {%if delivery_pre %}
	<input type="submit" name="save"   value="save" />
	<input type="submit" name="andere" value="andere" />
    {% endif %}
</form>

{% endblock %}
{% block css %}
<style>
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
} 
</style>
{% endblock css %}