{{datum}} 
<img  style="float:right;width:175px;height:60px" src="http://www.oervoer.com/skin/frontend/ultimo/oervoer/images/logo7.png" alt="OerVoer">
<p>
Beste {{order.owner}},
</p><p>
Hierbij ontvang je je {{order.package}} OerVoer pakket.
{{pet.name}} weegt {{pet.weight}} kg en heeft gemiddeld {{maaltijd}} gram verse voeding per dag nodig verdeeld over 2 maaltijden.
</p><p>
In je OerVoer gemalen Plus pakket vind je verschillende smaken enkelvoudige malingen en
hele stukjes vis.
Je kunt bij de verdeling van de producten uitgaan van één visdag per week.
</p><p>
Dit {{order.package}} OerVoer pakket bevat: 

