{
    color: darkblue;
    font-family: Monospace;
    background: white;
    border: 2px solid;
}

#title {
    font-weight: bold;
    color: cyan;
}

#text {
    font-weight: normal;
    color: darkblue;
}
