<strong>{{datum}}</strong> 
<img  style="float:right;width:175px;height:60px" src="http://www.oervoer.com/skin/frontend/ultimo/oervoer/images/logo7.png" alt="OerVoer">
<img height="70" width="70" style="float:left" alt="hond" src="http://www.oervoer.com/media/wysiwyg/oervoer/hond-icoon.png">
<p>
Beste <strong>{{order.owner}}</strong></strong>,
<p>
Hierbij ontvang je je <strong>{{order.package}}</strong> OerVoer pakket.
<strong>{{pet.name}}</strong> weegt <strong>{{pet.weight}}</strong> kg en heeft gemiddeld <strong>{{maaltijd}}</strong> gram verse voeding per dag nodig verdeeld over 
{{pet.profile.NRMEALS}} maaltijden.
In je <strong>{{order.package}}</strong> OerVoer pakket vind je zowel karkassen met organen (compleet) als zonder 
organen (bot), spiervlees, orgaanvlees, gemalen pens en vis. 
<p>
Complete karkassen kun je beschouwen als een complete maaltijd en hieraan hoeft dus 
niets meer toegevoegd te worden. De losse karkasjes en botstructuren voer je bij 
voorkeur met wat spier- en/ of orgaanvlees om de ontlasting mooi soepel te houden. 
Wanneer je merkt dat jouw hond na een maaltijd met hoofdzakelijk bot wat meer moeite 
moet doen voor zijn ontlasting, of wanneer de ontlasting wat wittig van kleur is, dan 
bevat de maaltijd te veel bot. Je kunt dit compenseren door een volgende keer wat extra 
orgaan en/ of spiervlees aan zo’n maaltijd toe te voegen.
</p>
Wissel de verschillende diersoorten bij voorkeur zoveel mogelijk af. Ga uit van één 
pens dag en één vis dag per week. Wissel ook vette maaltijden als eend en zalm bij 
voorkeur af met magere als kip. Te vaak een vette maaltijd achter elkaar kan leiden 
tot zachte ontlasting.
<p>
Dit <strong>{{order.package}}</strong> OerVoer pakket bevat: 
<p>
