{% extends 'wizard.html' %}
{% load render_table from django_tables2 %}
{% block headline %}
	<h2 id=sectionhome>{{title}}</h2>
	{% if is_hond %}
	<img style="height:70px;width:70px;float:left" alt="kat" src="http://www.oervoer.com/media/wysiwyg/oervoer/hond-icoon.png">
	{% else %}
	<img height="70" width="70" style="float:left" alt="kat" src="http://www.oervoer.com/media/wysiwyg/oervoer/kat-icoon.png">
	{% endif %}
	<a href="#sectionfish" class="btn btn-default navbar-btn">Vis</a>
	<a href="#sectionfowl" class="btn btn-default navbar-btn">Gevogelte</a>
	<a href="#sectionbig" class="btn btn-default navbar-btn">Groot Dier</a>
	<a href="#sectionsmall" class="btn btn-default navbar-btn">Klein Dier</a>
	<a href="#sectionorgan" class="btn btn-default navbar-btn">Orgaan</a>
	<a href="#sectionother" class="btn btn-default navbar-btn">Anderen</a>
	<a href="{% url 'pet' pet_id %}" class="btn btn-default navbar-btn">Dier vermijdlijst</a>
	
{% endblock %}
{% block css %}
<style>
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 5px;
} 
</style>
{% endblock css %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% block content %}
	<form action="{% url 'pet_likes' pet_id=pet_id%}" method="POST">
		{% csrf_token %}
		
		{{ form.as_table }}
		<hr>
		<h3 id=sectionfish>Kies <strong>VIS</strong> voorkeur producten:</h3>
		{% render_table fish %}
		<a href="#sectionhome" class="btn btn-default navbar-btn">terug</a>
		<hr>
		<h3 id=sectionfowl>Kies <strong>Gevogelte</strong> voorkeur producten:</h3>
		{% render_table fowl %}
		<a href="#sectionhome" class="btn btn-default navbar-btn">terug</a>
		<hr>
		<h3 id=sectionbig>Kies <strong>Groot dier</strong> voorkeur producten:</h3>
		{% render_table big %}
		<a href="#sectionhome" class="btn btn-default navbar-btn">terug</a>
		<hr>
		<h3 id=sectionsmall>Kies <strong>Klein dier</strong> voorkeur producten:</h3>
		{% render_table small %}
		<a href="#sectionhome" class="btn btn-default navbar-btn">terug</a>
		<hr>
		<h3 id=sectionorgan>Kies <strong>Orgaan</strong> voorkeur producten:</h3>
		{% render_table organ %}
		<a href="#sectionhome" class="btn btn-default navbar-btn">terug</a>
		<hr>
		<h3 id=sectionother>Kies <strong>Anderen</strong> voorkeur producten:</h3>
		{% render_table other %}
		<a href="#sectionhome" class="btn btn-default navbar-btn">terug</a>
		<hr>
	<input type="submit" value="save" />
	</form>
{% endblock %}
{% block js %}
<script>
	function markcb() {
	    var cblist = document.getElementsByClassName("nameCheckBox");
	    var checked_tastes = document.getElementById("id_checked_tastes");
	    var result = "";
	    for(i=0; i < cblist.length; i++)
	    {
	    	if (cblist[i].checked)
	        {
	        	result += cblist[i].value;
	        	result += ",";
	        }
	    }
	    checked_tastes.value = result;
	}
</script>
{% endblock js %}