<strong>{{datum}}</strong> 
<img  style="float:right;width:175px;height:60px" src="http://www.oervoer.com/skin/frontend/ultimo/oervoer/images/logo7.png" alt="OerVoer">
<img height="70" width="70" style="float:left" alt="hond" src="http://www.oervoer.com/media/wysiwyg/oervoer/hond-icoon.png">

<p>
Beste <strong>{{order.owner}}</strong>,
</p>

<p>
Hierbij ontvang je je <strong>{{order.package}}</strong> OerVoer pakket.
<strong>{{pet.name}}</strong> weegt <strong>{{pet.weight}}</strong> kg en heeft gemiddeld <strong>{{maaltijd}}</strong> gram verse voeding per dag nodig verdeeld over 1 of 2 maaltijden.
</p>

<p>
In je OerVoer gemalen Plus pakket vind je verschillende smaken enkelvoudige malingen, pens en hele stukjes vis.
Ga uit van één pens dag en één vis dag per week.
</p>

<p>
Dit <strong>{{order.package}}</strong> OerVoer pakket bevat: 
</p>

